:root {
  --light: #ffffff;
  --border: #dddddd;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: var(--light);
  color: black;
  background-image: url("../../images/fondo2.jpeg?v=2");
}

.container {
  background:
    linear-gradient(
      to right,
      rgba(216,223,216,0.5),
      rgba(255,255,255,0.5)
  );
}

.top-row-form{
  background: #777777;
  border-left: rgb(200,200,200) solid 1px;
}

.top-sel{
  color: white;
}

.top-sel option{
  background:#777777;
}

.row-form{
  background:
    linear-gradient(
      to bottom,
      rgb(47 176 43),
      #299e2c
  );
  border-left: rgb(200,200,200) solid 1px;
}


.etiq {
  color:#ffffff;
}

.sel{
  color: #ffffff;
}

.sel option{
  color:#111;
  background:#fff;
}


.header {
  color:white;
  background:
    linear-gradient(
      to right,
      #1b702f,
      #1ef352
  );
}

.titulo{
  color: #ddd;
}

.titulo2{
    color: #ffffff;
}

footer {
  background-color:white;
  color: rgb(4,4,80);
  border-bottom: 2px solid gray;
}

/* =============================
   TABLAS
============================= */



table{
  font-family:sans-serif;
}

th {
  background: #444444;
  color: white;
}

tr {
  border-bottom: 1px solid #c5c5c5;
}

tr:nth-child(even) {
  background-color: rgb(213 221 216 / 80%); /* verde grisaceo */
}

tr:nth-child(odd) {
  background-color: rgba(255,255,255,0.8); /* blanco */
}

td{
  color:rgb(4,4,80);
  border-left: solid 1px #ddd;
}  

.pos_col{
  color:#1d211d;
}

.player-cell{
  color:rgb(5 27 3);
}

.category{
  color: rgb(3 118 41);
}

.columna_orden{
  background-color: #1a1a1a;
  color: white;
}

.columna_orden_d{
  background-color: #3e8f3f;
  color: white;
}

.btn-selector{
  background: rgba(255,255,255,0.05);
}

.btn-selector:hover{
  background: rgba(255,255,255,0.2);
}